services:

  locataire-db:
    image: postgres:14
    container_name: locataire-db
    ports:
      - "${POSTGRES_PORT}:5432"
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - locataire_pgdata:/var/lib/postgresql/data

  locataire-service:
    build:
      context: ./locataire-service
      dockerfile: Dockerfile
    container_name: locataire-service
    depends_on:
      - locataire-db
    ports:
      - "${SPRING_PORT}:8081"
    env_file:
      - locataire-service/.env


volumes:
  locataire_pgdata:
