services:

  # ========================= LOCATAIRE DATABASE =========================
  locataire-db:
    image: postgres:14
    container_name: locataire-db
    ports:
      - "${LOCATAIRE_DB_PORT}:${POSTGRES_INTERNAL_PORT}"
    environment:
      POSTGRES_DB: ${LOCATAIRE_DB_NAME}
      POSTGRES_USER: ${LOCATAIRE_DB_USER}
      POSTGRES_PASSWORD: ${LOCATAIRE_DB_PASSWORD}
    volumes:
      - locataire_pgdata:/var/lib/postgresql/data


  # ========================= LOCATAIRE SERVICE ==========================
  locataire-service:
    build:
      context: ./locataire-service
      dockerfile: Dockerfile
    container_name: locataire-service
    depends_on:
      - locataire-db
    ports:
      - "${LOCATAIRE_PORT}:${LOCATAIRE_PORT}"
    env_file:
      - locataire-service/.env


  # ========================= LOGEMENT DATABASE ==========================
  logement-db:
    image: postgres:14
    container_name: logement-db
    ports:
      - "${LOGEMENT_DB_PORT}:${POSTGRES_INTERNAL_PORT}"
    environment:
      POSTGRES_DB: ${LOGEMENT_DB_NAME}
      POSTGRES_USER: ${LOGEMENT_DB_USER}
      POSTGRES_PASSWORD: ${LOGEMENT_DB_PASSWORD}
    volumes:
      - logement_pgdata:/var/lib/postgresql/data


  # ========================= LOGEMENT SERVICE ===========================
  logement-service:
    build:
      context: ./logement-service
      dockerfile: Dockerfile
    container_name: logement-service
    depends_on:
      - logement-db
    ports:
      - "${LOGEMENT_PORT}:${LOGEMENT_PORT}"
    env_file:
      - logement-service/.env

  # ========================= Rabbitmq SERVICE ===========================
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASSWORD}
    ports:
      - "${RABBITMQ_PORT}:5672"
      - "15672:15672"
    networks:
      - gestion-net

# ========================= VOLUMES =========================
volumes:
  locataire_pgdata:
  logement_pgdata:
